<div class="columns">
  <div class="column">
    <button (click)="startSubject()">Subject</button>
    <ul>
      <li *ngFor="let message of subjectMessages"> {{ message }}</li>
    </ul>
  </div>

  <div class="column">
    <button (click)="startBehaviorSubject()">BehaviorSubject</button>
    <ul>
      <li *ngFor="let message of behaviorSubjectMessages"> {{ message }}</li>
    </ul>
  </div>

  <div class="column">
    <button (click)="startReplaySubject()">ReplaySubject</button>
    <ul>
      <li *ngFor="let message of replaySubjectMessages"> {{ message }}</li>
    </ul>
  </div>

  <div class="column">
    <button (click)="startAsyncSubject()">AsyncSubject</button>
    <ul>
      <li *ngFor="let message of asyncSubjectMessages"> {{ message }}</li>
    </ul>
  </div>
</div>
